:root {
  --primary-1: #0E6F95;   /* azul escuro */
  --primary-2: #33B7E6;   /* azul claro */
  --primary-grad: linear-gradient(90deg, var(--primary-1), var(--primary-2));

  --bg: #eef2f5;
  --card: #ffffff;
  --border: #e5e7eb;

  --text: #0f172a;
  --muted: #64748b;

  --danger-1: #991b1b;
  --danger-2: #ef4444;

  --radius: 12px;
  --radius-lg: 14px;
}
